<div class="container">
  <div class="row justify-content-center">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <div class="col-md-9 offset-md-1">
      <p><span class="bg-light font-weight-bold px-3">応募イベント詳細</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col offset-md-1">
      <table>
        <%= render 'public/shared/event_detail', event: @participation.event %>
      </table>
    </div>
  </div>
</div>