<div class="container">
  <div class="row justify-content-center">
    <h1>ボラ活とは</h1>
  </div>
  <div class="row justify-content-center">
    <p>募集中のボランティアの閲覧、応募ができるボランティアの人材募集サイトです。</p>
  </div>
</div>