@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #47A6A5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 90px;
  box-sizing: border-box;
}

h5 {
  color: #F99891;
  font-weight: bold;
}

.table {
  color: #47A6A5;
}

.table th {
  font-size: 1.1em;
}

a {
  color: #47A6A5;
}

a:-webkit-any-link {
  text-decoration: none;
}

.color_pink {
  color: #F99891;
}

.container_top {
  background-color: #F7C099;
}

header {
  background-color: #F7C099;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFEADB;
  font-weight: bold;
  border: 1px solid #FBE0CC;
  border-radius: 5px;
}

.navbar-dark .navbar-toggler {
  border-color: #FBE0CC;
  outline: none;
}

footer {
  width: 100%;
  height: 90px;
  text-align: center;
  line-height: 90px;
  color: #FFEADB;
  background-color: #F7C099;
  position: absolute;
  bottom: 0;
}